.view {
  width: calc(100% - 200px);
  float: right;
  margin-top: 20px;
  padding: 0 20px 0 45px;
  margin-bottom: 50px;
}
.view-cards {
  overflow: hidden;
}
.view-cards:not(:first-of-type) .view-cards-title {
  margin-top: 10px;
}
.view-cards-title {
  padding-bottom: 20px;
}
.view-cards-title a {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #3eb4bf;
}
.view-cards-title a > i {
  margin-left: 7px;
}
.view-cards-row {
  overflow: hidden;
  margin-bottom: 10px;
}
