.input-range__slider {
  appearance: none;
  background: #23b89a;
  border: 1px solid #23b89a;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  height: 0.7rem;
  margin-left: -0.35rem;
  margin-top: -0.425rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 0.7rem;
  /* &:active {
    transform: $input-range-slider-active-transform;
  }*/
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(35, 184, 154, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-family: 'Helvetica Neue', san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  display: none;
}
.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: #d5d8dc;
  border-radius: 0.15rem;
  cursor: pointer;
  display: block;
  height: 0.15rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}
.input-range__track:hover {
  height: 0.2rem;
}
.input-range__track:hover .input-range__slider {
  display: block;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.075rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #23b89a;
}

.input-range {
  height: 0.7rem;
  position: relative;
  margin: 0 15px;
  width: 100%;
}
