.playlist-tracks {
  width: 60%;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.playlist-track {
  overflow: hidden;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  color: #888;
  /* &-actions
      width: calc(25% - 50px)
      button
        cursor: pointer
        padding: 0 10px
      i
        font-size: 18px
        color: #45B39D */
}
.playlist-track span,
.playlist-track div {
  height: 50px;
  float: left;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}
.playlist-track-order {
  display: block;
  width: 50px;
  line-height: 50px;
  vertical-align: middle;
  float: left;
}
.playlist-track-title {
  width: calc(55% - 50px);
  text-align: left !important;
  padding-left: 10px;
}
.playlist-track-title a {
  color: #3eb4bf;
}
.playlist-track-title a:hover {
  text-decoration: underline;
}
.playlist-track-artist {
  width: 45%;
}
.playlist-track-artist a {
  color: #888;
}
