.__album-card {
  width: 20% !important;
  float: left;
}

.__album-image img {
  width: 190px;
  min-height: 190px;
}

.__album-detail {
  padding-right: 50px;
}
.__album-detail a {
  color: #888;
  font-weight: 400;
  font-size: 14px;
}
.__album-detail > div {
  margin-bottom: 7px;
}

.__album-title {
  margin-top: 10px;
}
.__album-title a {
  color: #3eb4bf;
}
.__album-title a:hover {
  text-decoration: underline;
}
